/* For mobile phones: */

.sect {
    margin-top: 50px;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.article h2 {
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.article p {
    font-family: sans-serif;
    font-size: 15px;
}

.disp {
    display: flex;
    flex-direction: column;
}

/* ADVERTISING */

#writers {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

#samsung {
    border-bottom: 1px solid black;
    margin-top: 30px;
}

#search {
    width: 100%;
    font-size: 15px;
	text-align: right;
	cursor: pointer;
	letter-spacing: 1px;            
    border: 0;
    border-bottom: 1px solid black;
}


/* NEWS */

.news {
    margin-top: 50px;
    margin-bottom: 50px;
}

#title-main {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

#description {
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}


/* MORE READ SECT */

.more-read h3, .read-content {
    padding: 20px 0;
    cursor: pointer;
    transition: 1s;
}

#read-sect-h2 {
    border-bottom: 1px solid black;
}

/* FOOTER */

.footer-container {
    height: 100px;
    margin-top: 100px;
    border-top: 1px solid black;
}

.social {
    display: flex;
    align-items: center;
    margin: 20px auto;
    font-size: 30px ;
}

.social h3, .social i {
    margin: 0 10px;
    transition: 1s;
}

.social h3:hover, .social i:hover {
    color: red;
    transition: 1s;
}

#copy-logo {
    font-family: "Lequire";
}

#copy {
    font-family: 'Manrope', sans-serif;
}

@media (min-width: 768px) {

    .disp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
    }

    /* MAIN */
    
    .main-content {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .main-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .read-content {
        width: 20%;
        align-self: flex-start;
    }

    .sponsor-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        align-self: flex-start;
    }

    .article {
        width: 100%;
    }

    /* MORE READ*/

    .more-read h3:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    /* footer */

    .social {
        margin: 20px 0;
    }
}