/* MENU */

/* For mobile phones: */

.menu ul, #check {
    display: none;
}

.menu li:hover, .menu-footer li:hover{
    color: red;
}

.menu label i, .menu input {
    display: block;
    font-size: 50px;
    width: 10%;
    margin: 0 auto;
}

#check:checked + ul {
    display: block;
    text-align: center;
    background-color: black;
}

#check:checked, .menu li {
    color: white;
}


/* FOOTER NAV */

.menu-footer {
    align-self: center;
}

.menu-footer li {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    cursor: pointer;
}


  /* RESPONSIVE */

@media (min-width: 768px) {
    /* For desktop: */

    .menu i, .menu input {
        display: none;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .menu li {
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        color: black;
        cursor: pointer;
    }

    .menu li {
        transition: 1s;
    }

    .menu li:hover {
        transform: translateY(-5px);
        transition: 1s;
    }

    .menu-footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}