/* GLOBAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.row::after {
    content: "";
    clear: both;
    display: block;
}

body {
    font-family: 'Manrope', sans-serif;
}

@font-face {
    font-family: "Lequire";
    src: url('Lequire.otf') format("opentype");
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.disp-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

header {
    height: 25vh;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

.header-title a {
    font-family: 'Lequire', serif;
    color: black;
    font-size: 55px;
    transition: 1s;
}

.header-title a:hover {
    color: #C0B283;
    transition: 1s;
    cursor: pointer;
}
